body {
  margin: auto;
  display: inline;
  border: sienna;
  border-style: solid;
  overflow: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow: scroll;
}

header {
  width: 960px;
  margin: auto;
  overflow: hidden;
}

main {
  background-color: slategray;
  color: rgb(23, 23, 140);
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 960px;
  margin: auto;
}

nav > img {
  width: 100px;
  float: left;
}

nav > ul {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  float: right;
  width: 250px;
  text-transform: uppercase;
  margin-top: 5px;
}

li{
  display: inline;
  margin: 30px;
}

nav {
  background-color: salmon;
  font-weight: 700px;
  text-align: center;
  width: 960px;
  height: 38px;
}

h1 {
  display: inline;
  font-size: 35px;
}

#fishes {
  height: 50px;
  overflow: hidden;
  margin: 0 200px 0 280px;
}

#fishes > img {
  width: 10%
}

#fishes > h1 {
  text-align: center;
}

#locations > p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}

#locations > ul {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  margin: auto;
  width: 960px;
}

#locations > li {
  width: 960px;
  font-size: 20px;
}

#locations > img {
  margin: 30px 100px 20px 100px; 
}

#family > img {
  border: salmon dotted 4px;
  margin-left: 50px;
}

#family > h2 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

#family > p {
  text-align: center;
  font-size: 15px;
  margin: 10px;
}

#cookies > img {
  height: 100px;
}

#cutter{
  float: left;
}

#frosted {
 margin-left: 700px;
 margin-bottom: 100px;
 width: 150px;
}

#cookies > h2 {
  text-align: center;
  font-weight: 700;
  width: 100px;
  margin-left: 300px;
  margin-top: 30px;
  font-size: 25px;
  
}

#cookies > p {
  margin-top: 45px;
}

#sales {
  background-color: salmon;
  color: gray;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
}

#sales > form {
  margin: 200px;
}

#sales > body {
  margin: auto;
  width: 960px;
}